<h1>Add a Book</h1>

<form method="post">
    <div>
        <lable for="title">Title</lable>
        <input name="title" type="text" />

    </div>

    <div>
        <lable for="author">Author</lable>
        <input name="author" type="text" />
    </div>

    <div>
        <lable for="totalPage">Total Number of Pages</lable>
        <input name="totalPage" type="text" />
    </div>

    <div>
        <lable for="currentPage">Current Page</lable>
        <input name="currentPage" type="text" />
    </div>

    <div>
        <lable for="readingDate">Date started reading</lable>
        <input name="author" type="text" />
    </div>

    <div>
        <lable for="readingNotes">Reading Notes</lable>
        <input name="readingNotes" type="text" />
    </div>

    <input type="submit" value="Add Book" />
</form>