<h1>Delete Books</h1>


<form method="post">

    @foreach(var book in ViewBag.books)
    {
    <div>
        <label>
            <span>@book.Title</span>
            <input type="checkbox" name="bookIds" value="@book.Id" />
        </label>
    </div>
    }

    <input type="submit" name="Delete Selected Books"  class="btn btn-danger" />

</form>