@using BearPawPages.ViewModels;
@model AddBookViewModel;



<h1>@ViewBag.Title </h1>
<h3>Update your current page to track your reading progress</h3>
<h3>Update or add any notes, too.</h3>

<form method="post" action="/Books/ReadingTime">
    <div asp-controller="Book" asp-action="MoveBookMark">
        <lable for="CurrentPage">Current Page</lable>
        <span asp-validation-for="CurrentPage"></span>

    </div>

    @*<div asp-controller="Book" asp-action="EditBookData">
        <lable for="ReadingDate">Reading Date</lable>
        <span asp-validation-for="ReadingDate"></span>
    </div>*@

    <div asp-controller="Book" asp-action="MoveBookMark">
        <lable for="ReadingNotes">Reading Notes</lable>
        <span asp-validation-for="ReadingNotes"></span>
    </div>

    <input type="hidden" name="Id" value="Model.Id" />  
            @*  *@


    <input type="submit" value="Move Your Book Mark" />
</form>


